<header>
  <h1>Users data</h1>
</header>

<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" ng-model="search.fullname">
  </div>
</form>

<section>
  <ul class="row">
    <li ng-repeat="user in $ctrl.users | filter:search">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img ng-src="{{user.avatar}}" alt="{{user.first_name}} {{user.last_name}}">
          <div class="caption">
            <h3>{{user.fullname}}</h3>
            <h5>{{user.email}}</h5>
            <blockquote>{{user.slogan}}</blockquote>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>